#header
    background: url('../img/bg.jpg') center center no-repeat 
    background-size: cover
    height: 794px
    width: 100%
.nav-link
    color: white
    &:hover
        color: gold


.btn1
    margin-top: 7.5%
    font-family: 'Great Vibes', cursive

nav
    height: 70px
    background: transparent // Transparent initial setting
    display: block
    position: fixed
    width: 100%
    z-index: 99999
    transition: all ease .5s

nav.shrink 
    height: 50px
    transition: all ease .5s
    background: black // Change background to black on scroll
   
#augres
    font-family: 'Great Vibes', cursive
    font-size: 26px
    color: navajowhite
.title
    padding-top: 12.5%
