#pizza
    width: 100%
    margin-top: 6%
    height: 320px
    background: url("../img/vita-marija-murenaite-484774-unsplash.jpg") center center no-repeat
    background-attachment: fixed
.menu
    margin-top: 6%
    width: 990px
    font-family: 'Julius Sans One', sans-serif
    font-size: 14px

.price
    font-size: 20px
    font-family: 'Petit Formal Script', cursive

.menu-img
    width: 140px
    height: 88px
    border-radius: 10%

#menu-button
    font-family: 'Great Vibes', cursive
    margin-top: 50px
    

  
         
