#testimonial
    height: 645px
    background: url("../img/testimonial/rawpixel-236143-unsplash.jpg") bottom center no-repeat
    background-attachment: fixed

.testimonial
    padding-top: 50px
.testimonial-img
    border-radius: 50%
    margin-right: 8px
    
.img
    width: 200px
    height: 200px

    


.carousel-caption
    color: white

 