<section id="about">
    <div class="col-lg-12 text-center">
        <h1 style="margin-top: 8.5%; font-size: 90px">Ristorante Augres</h1>
        <br><br>
            <h3 class="lead">DISCOVER OUR STORY</h3>
            <br>
            <img src="https://78.media.tumblr.com/0ca8c7320824c54f64927fb50250f483/tumblr_payagfMWH31wesyj7o1_640.png" style="width: 100px; height: 90px">
            <br><br>
<div class="container">
            <div class="row text-center">
            <div class="col-lg-6">
                
                    <img src="https://78.media.tumblr.com/0bfa377eb6c9dc3ce7b20829a1cb2e36/tumblr_payagfMWH31wesyj7o2_640.jpg">

            </div>
                <div class="col-lg-6">
    
                    <img src="https://78.media.tumblr.com/fdac8f926f1ae011f535793258ea5a0d/tumblr_payagfMWH31wesyj7o4_640.jpg" class="img-responsive">
                </div>

                <div class="about text-center">
                    <br><br><br><br>

                        <h3>Cousine from Lecce, Italy</h3>
                        <br>
                        <h4>Because of the rich Baroque architectural monuments found in the city, Lecce is commonly nicknamed "The Florence of the South".
                            <br> 
                            The city also has a long traditional affinity with Greek culture going back to its foundation; 
                           <br> 
                           Our dishes are intended to show that mixture between the Greek and Italian culture that is lived in Lecce with the most exquisite flavors of the region</h4>
                </div>
             </div>
            </div>
        </div>
    </section>