<section>
    <div id="chef"></div>

            
    <div class="row">

<div class="col-md-3 text-center" id="kitchen">
    <h3>IN THE KITCHEN</h3>
    <hr>

    <br>
        
     <h4>Professional chefs rely on a battery of tools and equipment. Chefs must be conscious of their kitchen tools when planning a menu and understand their use and production capacity.</h4>
    </div>

    <div class="col-lg-6">

        <img src="https://78.media.tumblr.com/99222718f3e4d457eeb13677943f2cb7/tumblr_payagfMWH31wesyj7o5_1280.jpg" class="chef-img img-responsive">
    </div>
</div>
        

</section>