<footer>

    <div class="footer">
        <div class="container text-justify">
            <div class="row">

          
        <div class="col-sm-3">
            <ul class="list-unstyled">
                <li>
                    <a href="#">Booking</a>
                </li>
                
                <li>
                    <a href="#">Contact</a>
                </li>
                <li>
                    <a href="#">Location</a>
                </li>
                <li>
                    <a href="#">Navigation</a>

                </li>
            </ul>
        </div>

        <div class="col-sm-3">
                <ul class="list-unstyled">
                    <li>
                        <a href="#">Testimonials</a>
                    </li>
                    
                    <li>
                        <a href="#">Partners</a>
                    </li>
                    <li>
                        <a href="#">Colaborations</a>
                    </li>
                    <li>
                        <a href="#">Events</a>
    
                    </li>
                </ul>
            </div>

            <div class="col-sm-3">
                    <ul class="list-unstyled">
                        <li>
                            <a href="#"><i class="fab fa-facebook-square"></i> Facebook</a>
                        </li>
                        
                        <li>
                            <a href="#"><i class="fab fa-instagram"></i> Instagram</a>
                        </li>
                        <li>
                            <a href="#"><i class="fab fa-twitter"></i> Twitter</a>
                        </li>
                        <li>
                            <a href="#"><i class="fab fa-pinterest"></i> Pinterest</a>
        
                        </li>
                    </ul>
                </div>

                <div class="col-sm-3">
                        <ul class="list-unstyled">
                            <li>
                                <a href="#">Recepies</a>
                            </li>
                            
                            <li>
                                <a href="#">Books</a>
                            </li>
                            <li>
                                <a href="#">Gallery</a>
                            </li>
                            <li>
                                <a href="#">Legacy</a>
            
                            </li>
                            <p class="pull-xs-right">
                                    <a href="#" style="margin-right: -25%"><li>Back to top</li></a>
                            </p>
                        </ul>
                    </div>


            <hr>
            <br> <br>
            <h5>&copy; Augres 2018 - All rights reserved.</h5>
          
        </div>
    </div>
</div>

</footer>


