<section id="header">

  <nav class="nav justify-content-center">
          <ul class="row list-unstyled">
            <li class="nav-item">
              <a class="nav-link" href="#" id="augres">Augres</a>
            </li>
              <li class="nav-item">
                  <a class="nav-link active" href="#">Home</a>
                </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Dishes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Location</a>
              </li>
            </ul>

      </nav>
      <div class="text-center">
        <div class="container title">
            
          <h2 style="color: white; font-size: 75px">Welcome to</h2>
          <h1 style="color: navajowhite; font-size: 120px">Augres</h1>
          <button type="button" class="btn btn-outline-light btn-lg btn1">Make a Reservation</button>
        </div>
      </div>
</section>



     

