<section>
    <div id="pizza">
        

            </div>
<div class="col-lg-12 text-center" style="margin-top: 4.5%">

    <h3>Popular Dishes</h3>
    
<br>
</div>
<div class="col-md-6 text-justify" style="margin-left: 25%">

<h4>Explore texture, color and of course the ultimate tastes with our most popular dishes. All the ingredients are fresh and carefully selected by our chefs. Enjoy an extraordinary dinning experience at Augres gourmet</h4>
</div>

<div class="container menu">

                    <table class="table">

                        <tbody>
                        <tr>
                            <td>
                                <img src="https://78.media.tumblr.com/ed42b038be4b2c5a20b1a00a5a720c4f/tumblr_payniiYjwO1wesyj7o1_400.jpg" class="menu-img">
                            </td>
                            <td>Chicken With Paprica and hot sause<br><br>$49</td>
                            <td>
                                <img src="https://78.media.tumblr.com/98b058da69f13fdcb63e8bff36e2ada0/tumblr_payniiYjwO1wesyj7o2_400.jpg" class="menu-img">
                            </td>
                            <td>Linguini with clam sauce<br><br>$79</td>
                        </tr>

                        <tr>
                            <td>
                                <img src="https://78.media.tumblr.com/4fd78e84b06373bf91a7b0fe60f0c838/tumblr_payniiYjwO1wesyj7o3_400.jpg" class="menu-img">
                            </td>
                            <td>Tortellini, Cjarsons<br><br>$24</td>
                            <td>
                                <img src="https://78.media.tumblr.com/cc7a48e15dc49643aaef900ca53f5368/tumblr_payniiYjwO1wesyj7o4_400.jpg" class="menu-img">
                            </td>
                            <td>Arancini al pesto<br><br>$39</td>
                        </tr>

                        <tr>
                            <td>
                                <img src="https://78.media.tumblr.com/668b3466c9d38cc565920e501cd97180/tumblr_payniiYjwO1wesyj7o5_400.jpg" class="menu-img">
                            </td>
                            <td>Risotto alla sbirraglia<br><br>$18</td>
                            <td>
                                <img src="https://78.media.tumblr.com/4fd78e84b06373bf91a7b0fe60f0c838/tumblr_payniiYjwO1wesyj7o3_400.jpg" class="menu-img">
                            </td>
                            <td>Baccalà<br><br>.$59</td>
                        </tr>

                        <tr>
                            <td>
                                <img src="https://78.media.tumblr.com/8e0605e3e918bbd390867c8d143748cd/tumblr_payniiYjwO1wesyj7o6_400.jpg" class="menu-img">
                            </td>
                            <td>Tiella di riso<br><br>$42</td>
                            <td>
                                <img src="https://78.media.tumblr.com/98b058da69f13fdcb63e8bff36e2ada0/tumblr_payniiYjwO1wesyj7o2_400.jpg" class="menu-img">
                            </td>
                            <td>Patate e cozze<br><br>$30</td>
                        </tr>

                    </tbody>
                </table>

                </div>
            <div class="text-center col-lg-12">
        <button  id="menu-button" type="button" class="btn btn-lg btn-outline-dark">View Menu</button>
    </div>
</section>