<section id="testimonial">
<div class="col-lg-12 text-center">
    <h2 style="color: white; padding-top: 8%; font-family: 'Comfortaa', cursive">What people say about Augres...</h2>
</div>
  <div class="container text-center testimonial">

  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" data-interval="2900">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="img">
          <img src="../img/testimonial/michael-dam-258165-unsplash.jpg" class="d-block w-100 testimonial-img" alt="...">
        </div>
        <div class="carousel-caption">
            <p>I love this place!</p>
          </div> 
      </div> 
      

      <div class="carousel-item">
          <div class="img">

        <img src="../img/testimonial/charles-etoroma-390119-unsplash.jpg" class="d-block w-100 testimonial-img" alt="...">
          </div>
        <div class="carousel-caption d-none d-md-block">
            <p>Very good food and service. Defenitly a 5 star restaurant.</p>
          </div>
      </div>

      <div class="carousel-item">
          <div class="img">

        <img src="../img/testimonial/svyatoslav-romanov-649396-unsplash.jpg" class="d-block w-100 testimonial-img" alt="...">
          </div>
        <div class="carousel-caption d-none d-md-block">
            <p>Perhaps the most romantic place in town...</p>
          </div>
      </div>

    </div>
  </div>

</div>
</section>
